#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}
body{
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  margin-top: 30vh;
  font-family: sans-serif;
}

*{
  font-family:'Times New Roman', Times, serif;
}

.naslov {
  color: white;
  text-align: center;
  font-size: 60pt;
  text-decoration: none;
  font-weight: 100;
  word-spacing: 30px;
  font-weight: 300;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 500px;
}

.stisni{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 34px;
    cursor: pointer;
    border: 1px solid white;
    padding: 50px;
}

.stisni:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    transition-duration: 500ms;
}
 
