
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* popunjava ekran bez deformacije */
    z-index: -1; /* šalje video iza sadržaja */
}

 .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 30vh;
    font-family: sans-serif;
} 

