#bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1; 
}


*{
  font-family:'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.naslov {
  color: white;
  text-align: center;
  font-size: 60pt;
  text-decoration: none;
  font-weight: 100;
  word-spacing: 30px;
  font-weight: 300;
  margin-top: 80px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    gap: 200px;
}

button{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 35px;
    cursor: pointer;
    border: 1px solid white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    transition-duration: 500ms;
}