
header{
    color: black;
    position:fixed;
    width: 100%;
    font-size: 60px;
    text-align: center;
}
.naslov{
    padding-top: 50px;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* popunjava ekran bez deformacije */
    z-index: -1; /* šalje video iza sadržaja */
}

/* .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    margin-top: 30vh;
    font-family: sans-serif;
} */
 .dugmad{
    display: flex;
    height: 100vh;
 }

.dugmici{
   flex: 1;
   display: flex;
    justify-content: center; 
    align-items: center;  

}
.dugme{
    background-color: transparent;
    flex: 1;
    color: white;
    border: white solid 5px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 100px;
    
}
.dugme:hover{
    background-color: black;
    color: white;
}