body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
.container1{
    display: flex;
    padding: 6rem 2rem;
    font-size: 16px;
    height: 100vh;
    
}
.proba{
   display: flex;
   flex-wrap: wrap;
   margin: 0 auto;
   justify-content: center;
   max-width: 1200px;
   gap: 1.5rem;
   padding: 10px;
   
   
}
:root{
    background: white;
    color: black;
}
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.proba article {
    max-width: 20rem;
    width: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: black 0px 7px 29px 0px;
}
.proba article h2{
    margin: 0 0 0.5rem 0;
    font-size: 1.6rem;
    color: var(text);
    transition: color 0.3s ease-out;
}

.proba article img{
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    
}

.proba article:hover img{
transform: scale(1.5);
}
.kartica-pregled{
    padding: 1.5rem;
    background: white;

}
.proba figure{
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

.znamenitosti{
    background-color: bisque;
    font-size: 15px;
    color: red;
    width: 100%;
    padding: 5rem;
    display: flex;
    flex: 3;
    gap: 20px;
}
.navigacija{
    background-color: coral;
    color: azure;
    padding: 3rem;
    display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
}
.nocnizivot{
    background-color: darkmagenta;
    padding: 4rem;
    color: black;
    display: flex;
    flex: 50%;
    gap: 20px;
    
}
.nasakuhinja{
    background-color: dodgerblue;
    padding: 6rem;
    color: black;

}
.smestaji{
    background-color: olivedrab;
    color: whitesmoke;
    padding: 2rem;
}
a{
text-decoration: none;
color: inherit;
}

.znamenitosti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
#prethodna{
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 2rem;
    background-color: transparent;
    color: coral;
    padding: 5px;

}
#slideImage{
    border: black 10px;
    width: 300px;
    border-radius: 40px;

}
#slideText{
    font-size: 2rem;
    text-align: center;
}
 #vreme {
    text-align: center;
    font-size: 30px;
    color: coral;
}
#datum{
    text-align: center;
        font-size: 30px;
        color: coral;
}
#map {
    height: 400px;
    width: 100%;
    border-radius: 12px;
}
.navigacijatext{
    font-size: 30px;
}
.mladi, .matori {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}