body{
    background-image: url("/slike/pozadina.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    gap: 130px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meni {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    margin-left: 30px;
}


.dugme {
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
    margin-right: 50px;
}


.padajuci {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 1;
}
.padajuci a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 6px;
}
.meni:hover .padajuci {
    display: block;
    transition-delay: 5s;
    pointer-events: auto;
}
.padajuci a:hover {
    background-color: #f1f1f1;
}