* {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-image: url(/bgpozadina.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 100px;
  font-size: 30px;
  margin-top: 20px;
  border-bottom: solid 2px white;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s ease;
}
.container {
  padding: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 2px;
}
.card h2 {
  margin-top: 0;
}
nav a:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  transition-duration: 200ms;
  font-size: 33px;
}

#kartica3{
    margin-top: 2000px;
}
